<!DOCTYPE html>
<html>
<head>
    <!----------------------Favicon--------------------------->
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/Images/dogi.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    
    <!------------------------CSS----------------------------->
    <!-- Download Template-->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{{url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet"> 

    <!-- Self -->
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">


    <!-------------------------JS----------------------------->
    <!-- Download Template-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sb-admin-2.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/demo/datatables-demo.js')}}"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrapper" style="background-color: #c0d6ff;">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ara booth <sup>01</sup></div>
            </a>
    
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
    
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>DASH BOARD</span></a>
            </li>
    
            <!-- Divider -->
            <hr class="sidebar-divider">
    
            <!-- Heading -->
            <div class="sidebar-heading">
                table
            </div>
    
            <li class="nav-item">
                <a class="nav-link" href="/user_total">
                    <i class="fas fa-fw fa-table"></i>
                    <span>User</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/iot_total">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Device</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
    
            <!-- Heading -->
            <div class="sidebar-heading">
                Manager
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/user_new">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>User</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">  
            
        </ul>
        <!-- End of Sidebar -->

        {% block content %}{% endblock %}

    </div>

</body>
</html>