{% extends "base.html" %}

{% block head %}    
    
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid" style="max-height: 100vh;">
  
    <div style="width: 100%; height: 100vh; padding-top: 1.5rem; padding-bottom: 1.5rem;">

        <div style="display: grid; grid-template-columns: 100%; grid-template-rows: 40% 59%; width: 100%; height: 100%; row-gap: 1rem;">

            <div class="card shadow myCardSet">
                <div class="card-header py-3 chartTop">
                    <h6 class="m-0 font-weight-bold text-primary">Manage User</h6>
                </div>
                <div class="card-body">        
                    
                    <form action = "#" method = "POST" enctype = "multipart/form-data">
                        <p class="m-0 font-weight-bold text-primary">* (1인)개별정보 업로드</p>
                        <p></p>
                        <input name="newId" type="text" class="form-control form-control-user" placeholder="Enter id.." style="width: 15%; display: unset;">
                        <input name="newName" type="text" class="form-control form-control-user" placeholder="Enter name.." style="width: 15%; display: unset;">
                        <input name="newPhone" type="text" class="form-control form-control-user" placeholder="Enter phone number.." style="width: 15%; display: unset;">
                        <input name="newCompany" type="text" class="form-control form-control-user" placeholder="Enter company.." style="width: 15%; display: unset;">
                        <input name="newLocate" type="text" class="form-control form-control-user" placeholder="Enter locate.." style="width: 15%; display: unset;">
                        <input type = "submit" name = "addOne" value="추가/수정"/>
                        <input type = "submit" name = "delOne" value="삭제"/>
                    </form>

                    <p></p>

                    <form action = "#" method = "POST" enctype = "multipart/form-data">
                        <p class="m-0 font-weight-bold text-primary">* (단체)CSV파일 업로드</p>
                        <p></p>
                        <input type = "file" name = "file" style="cursor: pointer;"/>
                        <input type = "submit" name = "addAll" value="추가/수정"/>
                        <input type = "submit" name = "delAll" value="삭제"/>
                    </form>

                    <hr class="sidebar-divider">
                    <div>Result Log : {{postResult}}</div>                    
                </div>
            </div>

            <div class="card shadow myCardSet">
                <div class="card-header py-3 chartTop">
                    <h6 class="m-0 font-weight-bold text-primary">Document : How to use</h6>
                </div>
                <div class="card-body">  

                    <p class="m-0 font-weight-bold text-primary">* 고객(User) 데이터베이스를 수정하려면?</p>
                    <div>고객의 개별 정보를 직접 입력하거나 양식에 맞는 csv 파일을 선택한 후 추가/수정 혹은 삭제 버튼을 클릭합니다.</div>
                    <p></p>
                    <br>

                    <p class="m-0 font-weight-bold text-primary">* CSV 파일 ?</p>
                    <div>Comma-Separated Variables의 약자로 필드를 쉼표(,)로 구분한 텍스트 파일입니다.</div>
                    <p></p>
                    <br>

                    <p class="m-0 font-weight-bold text-primary">* CSV 파일 생성 방법</p>
                    <div>Excel 문서 작성 >> 다른 이름으로 저장 (다른 형식 선택) >> 파일 형식 드롭다운 메뉴에서 CSV 선택 후 저장 >> '예' 선택</div>
                    <p></p>
                    <br>

                    <p class="m-0 font-weight-bold text-primary">* Excel 문서 양식</p>
                    <form action = "sampleDown" method = "GET" enctype = "multipart/form-data">
                        <p>
                            Excel 문서: sample.xlsx&nbsp;&nbsp;
                            <input type = "submit" name = "xlsxDown" value="Download"/>
                        </p>                        
                    </form>
                    <p>작성법: 필드 '서비스타입'은 반드시 채우지 않아도 됩니다. 필드 '서비스타입'이 '퇴실회원'으로 되어있으면 해당 회원은 업로드되지 않습니다.그 외 필드는 모두 채워져 있어야만 합니다.</p>
                    <p></p>
                    
                </div>
            </div>            

        </div>
    </div>
</div>

<!-- /.container-fluid -->

{% endblock %}